
<div class="promo">
    <span>Vente Flash 75% de réduction</span>
</div>
<header class="headerMenu">
    <div id="btn_menu" class="fas fa-bars"></div>
    <a href="/" class="logo"><span>T</span>com</a>
    <nav class="navbar">
        <a href="#">Accueil</a>
        <a href="#">Catégories</a>
        <a href="#">A propos de nous</a>
        <a href="#">Contact</a>
    </nav>
    <div class="icons d-flex">
<!--        <div><i class="fas fa-search" id='search'></i></div> Icon de recherche-->
<!--       <div><i class="#" id='user'></i></div> -->
        <div><a class="fas fa-user" id="user"></a></div>
        <div>
            <a href="#" class="fas fa-shopping-cart"></a>
            <div><span class="align-center" id='count'>0</span></div>
        </div>
    </div>
</header>